.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

.panel {
  width: 100%;
  margin: 10px 0;
}

.form-inline {
  display: flex;
  align-items: center;
  gap: 20px;
}

.input-field {
  flex: 1;
  min-width: 500px;
}

input,
textarea {
  width: 100%;
}
